@page
@{

    ViewData["Title"] = "Andrew McCall";
    Layout = "~/Shared/_layout.cshtml";

}

<div class="container mx-auto flex-auto py-10 min-h-0">
  <div class="p-10 space-y-4 md:grid gap-8 grid-cols-6">
    <div class="col-start-2 col-end-5 p-6 text-center text-lg bg-stone-600 border-2 border-stone-900 rounded-xl shadow-stone-900 shadow-lg">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur ducimus reiciendis eligendi voluptas, saepe consectetur? Ipsam eligendi itaque, dolor velit fuga sequi vitae, placeat commodi necessitatibus magni dolores, veritatis quisquam.
    </div>
    <div class="col-start-3 col-end-6 p-6 text-center text-6xl bg-stone-600 border-2 border-stone-900 rounded-xl shadow-stone-900 shadow-lg">
1    </div>
    <div class="col-start-2 col-end-5 p-6 text-center text-6xl bg-stone-600 border-2 border-stone-900 rounded-xl shadow-stone-900 shadow-lg">
1    </div>
  </div>
</div>

<div class="text-center align-middle bg-emerald-700 text-slate-900 w-full h-max p-12">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis reiciendis tempore sapiente eligendi minima, iure nemo veniam voluptatem adipisci odio sint dolorem amet doloribus totam culpa, saepe eveniet, eius ab.
</div>

<div class="container mx-auto flex-auto py-10 min-h-0">
  <div class="p-10 space-y-4 md:grid gap-8 grid-cols-6">
    <div class="col-start-2 col-end-5 p-6 text-center text-lg bg-stone-600 border-2 border-stone-900 rounded-xl shadow-stone-900 shadow-lg">
2    </div>
    <div class="col-start-3 col-end-6 p-6 text-center text-6xl bg-stone-600 border-2 border-stone-900 rounded-xl shadow-stone-900 shadow-lg">
2
    </div>
    <div class="col-start-2 col-end-5 p-6 text-center text-6xl bg-stone-600 border-2 border-stone-900 rounded-xl shadow-stone-900 shadow-lg">
2    </div>
  </div>
</div>