@page
@{

    ViewData["Title"] = "Andrew McCall";
    Layout = "~/Shared/_layout.cshtml";

}

<div class="container mx-auto flex-auto min-h-0">
  <div class="p-10 space-y-4 md:grid gap-5 grid-cols-7">

    <div class="col-start-2 col-end-6 p-3 text-center text-lg bg-emerald-600 border-2 border-stone-900 rounded-xl shadow-stone-900 shadow-lg">
      <div class="bg-emerald-500 rounded-xl p-2">
        <p class="bold text-lg">Hi. I'm Andrew,</p>
        <p class="text-sm">
          A self taught programmer. I'm passionate about computer science and I love to learn new things. I'm always looking for new challenges and I'm excited to share my knowledge with others. I made this website to learn DotNet and talk about myself.
        </p>
      </div>
    </div>

    <div class="col-start-3 col-end-7 p-4 text-center bg-emerald-600 border-2 border-stone-900 rounded-xl shadow-stone-900 shadow-lg"><img class="rounded-lg overflow-hidden mb-3" src="/Selfie.png" alt="Selfie of me, Andrew McCall, In a suit"/><p class="underline"> Just a nerd.</p></div>
    
  </div>
</div>

<div class="text-center align-middle bg-emerald-600 w-full h-max p-12 my-2">
  I've coded and tinkered my whole life but Below are my more formal qualifications; I realized much to late that I should document <i>all</i> my work. Most my projects are lost to time but I hold few regrets since I've always enjoyed my time. Earlier this year (2022), I managed over a hundered days of daily programming. You can check <a class="underline" href="https://github.com/Andrew-McCall" target="_blank">GitHub</a> or my <a class="underline" href="/projects">Project Blog</a> to see my latest ventures.
</div>

<div class="container mx-auto flex-auto min-h-0">
  <div class="p-10 space-y-4 md:grid gap-4 grid-cols-6">
    <div class="col-start-2 col-end-6 space-y-2 p-4 text-center bg-emerald-700 border-2 border-stone-900 rounded-xl shadow-stone-900 shadow-lg">
      <h2 class="text-lg text-left underline bold" >Technical Learning Specialist</h2>
      <h2 class="text-md text-right" > QA Limited</h2>
      <p> I train QA's digital consultants in software dev. The standard technologies I teach are:<br/> Java (SpringBoot), Javascript (MERN/React), Agile, Git. </p>
      <h4 class="text-sm p-1"> 05/22 - Present </h4>
    </div>

    <div class="col-start-3 col-end-6 space-y-2 p-4 text-center bg-emerald-800 border-2 border-stone-900 rounded-xl shadow-stone-900 shadow-lg">
      <h2 class="text-lg text-left underline bold" >Mendix (Mulesoft) Developer</h2>
      <h2 class="text-md text-right" >Capgemini</h2>
      <div class="bg-emerald-700 rounded-lg h-max m-1">
        <p>MuleSoft Certified Developer - Level 1 (Mule 4), 2021</p>
        <p>Mendix Rapid Developer, 2021</p>
      </div>
      <p>  </p>
      <h4 class="text-sm p-1"> 08/21 - 02/22 </h4>
    </div>

    <div class="col-start-2 col-end-5 space-y-2 p-4 text-center bg-emerald-900 border-2 border-stone-900 rounded-xl shadow-stone-900 shadow-lg">
      <h2 class="text-2xl underline" >Student</h2>
      <h2 class="text-md text-right" >St Thomas More Catholic School</h2>
      <div class="bg-emerald-700 rounded-lg h-max m-1">
        <p>Computer Science A-Level (A), 2020</p>
        <p>Computer Science GCSE (8), 2018</p>
      </div>
      <p class="text-md"> I loved computer science during school. The practical side is more fun but the theory and understanding are still important to me. </p>
      <h4 class="text-sm p-1"> 08/16 - 06/21 </h4>
    </div>
  </div>
</div>