<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="/favicon.ico">
    <title>@ViewData["Title"]</title>
</head>

<body class="mb-12 h-screen bg-fixed bg-center bg-cover custombg"> 
    <nav class="font-sans flex flex-col text-center sm:flex-row sm:text-left sm:justify-between py-4 px-6 bg-emerald-800 sm:items-baseline w-full">
        <div class="mb-2 sm:mb-0">
           <a href="/"><h1 class="text-2xl underline text-neutral-900 hover:text-emerald-600">Andrew McCall</h1></a>
        </div>
        <div>
            <a href="https://github.com/Andrew-McCall" target="_blank" class="navb">GitHub</a>
            <a href="/projects/list" class="navb">Projects</a>
            <a href="/contact" class="navb">Contact</a>
        </div>
    </nav>

    <div>

        @RenderBody()


        <hr class="m-2 border-stone-900"/>
        <footer class="sticky top-[100vh] text-center align-middle">
          <p class="text-xs">&copy; 2022 - AMcCall | <a href="https://github.com/Andrew-McCall/DotNetWebsite" target="_blank" class="underline">Site Source Code</a> | Tailwind & DotNet</p>
        </footer>
        
    </div>
    

    @RenderSection("Scripts", required: false)

</body>
</html>