@page
@using andrew_mccall.DAO;
@using andrew_mccall.Entites;
@{
    ViewData["Title"] = "Demos";
    Layout = "~/Shared/_layout.cshtml";
    ProjectDAO projectDAO = new ProjectDAO();
}

<div class="gap-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 m-5 text-center">
    @foreach (Project p in projectDAO.GetAllByTime())
    {
        <a href=@p.Link>
            <div class="@("h-full w-full container rounded-xl shadow-lg shadow-stone-900 " + (p.Demo ? "bg-emerald-900" : "bg-emerald-600"))">
                <h2 class="underline m-1">@p.Title</h2>
                <img class="rounded-2xl px-2 overflow-hidden" src=@p.Image/>
                <p class="m-1 text-sm">@p.Time.ToString("dd/MM/yyyy") - @p.Description</p>
            </div>
        </a>
    }
</div>