@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Shared/_layout.cshtml";
}
<div class="container m-2 h-full w-full bg-emerald-200 border-2 border-stone-900"> 
    <h1 class="text-2xl">Home</h1>
</div>