@{
    ViewData["Title"] = "Login";
    Layout = "~/Shared/_layout.cshtml";
}
<div class="flex justify-center items-center flex-wrap m-6">

    <div class="m-2 rounded-xl bg-emerald-600 border-3 border-stone-900 text-center p-1"> 
        <h1 class="text-2xl underline bold">Login</h1>
        <div class="m-2 rounded-xl bg-emerald-400 p-4 space-y-4"> 
            <label class="align-text-top" for="password"> Password: </label><input class="leading-tight rounded border-emerald-900 border-2" id="password" type="password" placeholder="******************">
            <br/>
            <button class="rounded bg-emerald-900 py-0.5 px-2.5 text-emerald-100"> Submit </button>
        </div>
    </div>

</div>