@{
    ViewData["Title"] = "Login";
    Layout = "~/Shared/_layout.cshtml";
}
<div class="flex justify-center items-center flex-wrap m-6">

    <div class="m-2 rounded-xl bg-emerald-600 border-3 border-stone-900 text-center p-1"> 
        <div class="m-2 rounded-xl bg-emerald-400 p-3"> 
            <h1 class="text-2xl mb-3">Login</h1>
            <label class="align-middle"> Password: <input class="shadow-outline leading-tight rounded border-black border-2" id="password" type="password" placeholder="******************"></label>
        </div>
    </div>

</div>